body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background 0.4s ease, color 0.4s ease;
}


body.light {
    background: #f4f4f4;
    color: #333;
}


body.dark {
    background: #121212;
    color: white;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
